<?xml version="1.0" encoding="UTF-8"?>


<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userConfigBean" class="spring-1/app/src/main/groovy/org/example/bean/UserConfig.java">
        <property name="name" value="jon"/>
        <property name="className" value="ExampleClass"/>
    </bean>

    <bean id="UserserviceBean" class = "org/example/service/UserService.java">
        <constructor-arg ref="UserConfigBean"/>
    </bean>

</beans>